.title-of-shop{
  color: whitesmoke;

}

.para-1,.para-2{
  color:whitesmoke;
 
 
}

.big-background{
  background-color: rgba(0, 0, 0, 0.500);
  margin: auto;
  width: 80em;
  border-radius: 50px;
  
}

.words{
  color: whitesmoke;
}

.text-center{

  color: whitesmoke;
}